body{

margin:0;
font-family:Arial;
text-align:center;
color:white;


background-image:url("https://res.cloudinary.com/dcrrjqkxk/image/upload/v1773488378/WhatsApp_Image_2026-03-14_at_4.57.05_PM_mffrjv.jpg");
background-size:cover;
background-position:center;
background-attachment:fixed;

}
h1{
    text-transform: uppercase;
}


h2{
margin-top:20px;

}


/* #map{
height:400px;
opacity: 0.7;
width:70%;
margin:auto;
margin-top:20px;
border-radius:10px;
} */


/globe/
#globeContainer{
width:500px;
height:400px;
margin:auto;
display:flex;
justify-content:center;
}
#globeContainer{
filter: drop-shadow(0 0 15px #00ffcc);
}
#globeContainer canvas{
pointer-events:none;
}
.Header h1{
color: white;
text-align: center;
font-size: 40px;
letter-spacing: 2px;
text-shadow: 0px 0px 15px #7df9ff, 0px 0px 30px #00ffff;
}

.Header p{
text-align: center;
color: #e0e6ff;
font-size: 18px;
margin-top: 5px;
}
.Header{

padding: 15px;
border-radius: 10px;
width: fit-content;
margin: auto;
}


.mainLayout{
display:flex;
flex-direction:column;
align-items:center;
gap:30px;
margin-top:30px;
}

.panel{

width:320px;

padding:15px;

background:rgba(0,0,0,0.7);
border-radius:10px;


}

.location-box {
    margin-top: 5px;
  display: flex;
  gap: 10px;       
  align-items: center;
  margin-top: 10px;
}

.location-box input {
  padding: 8px;
}

.location-box button {
  padding: 8px 14px;
  cursor: pointer;
}

input{

padding:10px;
border:none;
border-radius:5px;

}

button{

padding:10px 15px;
border:none;
border-radius:5px;
background:rgba(33, 2, 101, 0.707);
color:white;
cursor:pointer;

}
